:root{
 
  --Card-color:linear-gradient(346deg, #0596aa  0%, #0a323c 100%);
  --Card-color2:linear-gradient(112deg, #0596aa  0%, #0a323c 100%);
  --Shadow-default: 1px 19px 29px -1px rgba(10,50,60,1);
  --Shadow-default2: 1px 19px 29px -1px rgba(10,50,60,1);

}
@font-face{
  font-family: spiegel;
  src: local(spiegel), url('./assets/fonts/spiegel.ttf');
}
@font-face {
  font-family: Beaufort;
  src: local(beaufort),url('./assets/fonts/Beaufort-W01-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: radial-gradient(circle , #0ac8b9  0%, #010a13 100%);
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.container{
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  height: 100vh;
  border-right: solid 2px white;
  border-left: solid 2px white;
}

header{
  width: 60%;
  background: var(--Card-color);
  height: 60px;
  border-radius: 15px;
  box-shadow: var(--Shadow-default);
}
.marginDefault{
  margin: 25px 40px;
}
/* headerList */
header .links{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
header .links li{
  font-size: 19px;
  list-style: none;
  color: white;
  font-family: 'beaufort';
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 25px;
  cursor: pointer;
}
.active{
  background-color: #0ac8b9;
  border-radius: 10px;
  opacity:.9;
}
 
 
 /* mainCard */

.main__Card {
  font-family: 'spiegel';
  display: flex;
  width: 60%;
  height: 40%;
  background:var(--Card-color);
  border-radius: 15px;
  margin-top: 40px;
  box-shadow: var(--Shadow-default);
}
.mainInf {
  height: 100%;
  flex: 0 0 50%;
  text-align: center;
  padding: 30px 0;
}
.mainName{
  font-family: 'beaufort';
  letter-spacing: 2px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
}
.mainName h3{
  font-size: 24px;
  padding-left: 10px;
}
.mainName h2{
 font-size: 50px;
 padding-bottom: 40px;
 border-bottom: 1px solid white;
 position: relative;
 top: 35px;

}
.mainInf ul{
  letter-spacing: 1.2px;
  padding: 10px 0 0 15px;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}
.mainInf h4{
  padding: 10px 0;
}
.mainImg {
  flex: 0 0 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Ranked View */

.winPerc{
  letter-spacing: 2px;
  font-family: 'spiegel';
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.winPerc h2{
  position: relative;
  bottom: 50px;
}
.graph{
  background-color: #030d18;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  padding-top: 25px;
}
.winRanked{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  text-align: center;
  height: 100%;
  font-size: 30px;
}
.winRanked h4{
 margin-bottom: 20px;
 font-family: 'beaufort';
 letter-spacing: 1.5px;
}
.winMatchs h4{
  color: #5CE9F4;
}

.loseMatchs h4{
  color:#E7323D;
}

/* userInfos */

.user{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 18.5%;
  height: 60px;
  background: var(--Card-color2);
  position: fixed;
  bottom: 827px;
  right: 15vw;
  border-radius: 15px;
  box-shadow: var(--Shadow-default2);
}
.userIcon{
  padding: 10px 5px;
  border: 2px solid white;
  border-radius: 50%;
}
.nameUser{
  font-size: 24px;
  letter-spacing: 1.5px;
  font-family: 'beaufort';
  position: relative;
  right: 20px;
}

/* Other Mains */

.mains{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  bottom: 425px;
  right: 15vw;
  width: 18.5%;
  height: 40%;
  text-align: center;
}
.secMain{
  padding-top: 20%;
  height: 45%;
  width: 100%;
  background: var(--Card-color2);
  border-radius: 15px;
  box-shadow: var(--Shadow-default2);
}
.trMain{
  padding-top: 20%;
  border-radius: 15px;
  background: var(--Card-color2);
  height: 45%;
  width: 100%;
  box-shadow: var(--Shadow-default2);
}

/* Position */

.favPosition{
  width: 18.5%;
  height: 360px;
  background: var(--Card-color2);
  position: fixed;
  bottom: 22px;
  right: 15vw;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: var(--Shadow-default2);
  letter-spacing: 2px;
  font-family: 'beaufort';
  font-size: 32px;
  text-transform: capitalize;
}
.imgPosi img{
  width: 35%;
  margin: 0 auto;
  
}

/* Form */

.form{
  width: 300px;
  height: 150px;
  position: fixed;
  bottom: 100px;
  text-align: center;
  background:var(--Card-color) ;
  left: 40px;
  border-radius: 15px;
}
.form input{
  display: block;
  margin: 35px auto;
  padding: 5px 10px;
  height: 30px;
  text-align: center;
}
.form button{
  padding: 5px 10px;
  cursor: pointer;
}